{% extends 'base.html.twig' %} {% block title %} {% endblock %} {% form_theme
form 'ad/_collection.html.twig' %} {% block body %}

<div class="container">
  <h1 class="my-5">Modifier l'annonce: {{ ad.title }}</h1>

  {{ form_start(form) }}

  {{ form_widget(form) }}

  <div class="alert alert-light clearfix">
    <button type="submit" class="btn btn-success float-right">
      <i class="fas fa-check"></i>
      Enregistrer les modifications
    </button>
  </div>

  {{ form_end(form) }}
</div>
{% endblock %} {% block javascripts %}
<script src="{{ asset('build/js/ad.js') }}"></script>
{{ encore_entry_script_tags("js/app") }}
{% endblock %}
